<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thoughtworks.mapper.EmployeeMapper">
    <select id="selectAllEmps" resultType="com.thoughtworks.entity.Employee">
    SELECT * FROM tb1_employee
  </select>
</mapper>